.drawer__wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    max-width: 500px;
    z-index: 9999;
    overflow: auto;
    transition: transform 0.3s;
    will-change: transform;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    -webkit-transform: translateX(103%);
    transform: translateX(103%);
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 2px 6px #777;
}

.drawer.is-visible .drawer__overlay {
    opacity: 0.5;
}