<div id="upperDiv" style="width: 100%;overflow-x: scroll; text-align: right;" class="scroll" #upperDiv>||</div>
<div id="mainDiv" class="scroll" (scroll)="scrollHandler($event)" #mainDiv>
    <span>{{inputJsonData.length}}</span>
    <div class="table-responsive-lg">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th *ngFor="let column of inputcolumns" (click)="onShort(column.dataKey,column.columDataType)">
                        {{column.header}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of inputJsonData" (click)="onRowClick(employee)">
                    <td *ngFor="let data of dataKeyArray" (click)="editCell(employee[data],true)">
                        {{employee[data]}}
                        <!-- <input type="text" *ngIf="editCellFlag"> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>