.count {
    float: right;
}

.scroll {
    overflow: auto;
    height: 700px;
    font-size: 11px;
    font-weight: bold;
    color: black;
}

.scroll thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}


/* Just common table stuff. Really. */

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px 16px;
}

th {
    background: #eee;
}