<div>From Drawer</div>
<div class="drawer__wrapper">
    <div class="drawer__header">
        <div class="drawer__title">
            Header Title
        </div>
        <button class="drawer__close" data-drawer-close="" aria-label="Close Drawer"></button>
    </div>
    <div class="drawer__content">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem in aliquid nulla, sed veritatis, officiis ea aut natus quas voluptates perferendis ratione modi ab qui omnis cum labore alias eos.
        </p>
        <div style="padding: 100px 0;"></div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam aut exercitationem laborum vero tenetur officiis facilis eveniet sunt quo voluptatibus sit reiciendis, iusto quia et quidem? Dolores dolor et necessitatibus.
        </p>
        <div style="padding: 100px 0;"></div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam aut exercitationem laborum vero tenetur officiis facilis eveniet sunt quo voluptatibus sit reiciendis, iusto quia et quidem? Dolores dolor et necessitatibus.
        </p>
        <div style="padding: 100px 0;"></div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam aut exercitationem laborum vero tenetur officiis facilis eveniet sunt quo voluptatibus sit reiciendis, iusto quia et quidem? Dolores dolor et necessitatibus.
        </p>
        <div style="padding: 100px 0;"></div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam aut exercitationem laborum vero tenetur officiis facilis eveniet sunt quo voluptatibus sit reiciendis, iusto quia et quidem? Dolores dolor et necessitatibus.
        </p>
    </div>
</div>