<div class="page-wrapper">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <app-nav-person></app-nav-person>
            </div>
        </div>
    </div>


    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <p>View Person</p>
            </div>

            <div class="row" style="margin-top: 1%;">
                <app-grid [JsonData]="jsonData" [Columns]="columnsData" (onRowSelect)="selectedData($event)"></app-grid>
                <hr />
            </div>
        </div>
    </div>
</div>