<div class="page-wrapper">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Product</h4>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item" routerLink="/product/viewProduct" routerLinkActive="active">
                            <a class="nav-link">view <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item" routerLink="/product/createProduct" routerLinkActive="active">
                            <a class="nav-link">Create</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            
        </div>

        <div class="row" style="margin-top: 1%;">
            <hr />
        </div>
    </div>
</div>